In [1]:
x = [1,2,3,4,5]
out=[]
for item in x :
    out.append(item)
print(out)

[1, 2, 3, 4, 5]

# List comprehension

In [2]:
x = [1,2,3,4,5]
[item for item in x]

[1, 2, 3, 4, 5]

In [4]:
[i for i in "India"]

['I', 'n', 'd', 'i', 'a']

In [5]:
[i*2 for i in {3,2,5}]

[4, 6, 10]

In [9]:
[i**2 for i in range(10) if i**2 % 2 == 0]

[0, 4, 16, 36, 64]

In [10]:
[i for i in range(8) if i%2!=0]

[1, 3, 5, 7]

In [12]:
[i for i in range(8) if i%2==0 if i%3==0]

[0, 6]

In [14]:
["Even" if i%2 ==0 else "Odd" for i in range(9)]

['Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even', 'Odd', 'Even']

In [15]:
[i**3 for i in range(5)]

[0, 1, 8, 27, 64]

# Table Example with List Comprehension

In [20]:
for i in range(7,8):
    for j in range(1,11):
        print(f"{i}*{j}={i*j}")

7*1=7
7*2=14
7*3=21
7*4=28
7*5=35
7*6=42
7*7=49
7*8=56
7*9=63
7*10=70

In [29]:
[[i*j for j in range(7,8)] for i in range(1,11)]

[[7], [14], [21], [28], [35], [42], [49], [56], [63], [70]]

# frozenset() function
we cannot add the value in frozen set and cannot change the value

In [30]:
nu = {1,2,3,4,5,6,7,8,9}

# converting tuple into frozenset
fnum = frozenset(nu)

print("frozenset object is : ",fnum)

frozenset object is :  frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9})

In [31]:
nu.add(5)

In [32]:
fnum.add(5)

AttributeError: 'frozenset' object has no attribute 'add'

## An assertion is a sanity check that you can turn on or turn off when you have finished testing the program
##An expression is tested and if the result comes up false, an exception is raised.
##Assertion are carried out through use of the assert statement

In [33]:
assert 2+2 == 4
print('mhm')

mhm

In [34]:
assert 1+1 == 3
print('mhm')

AssertionError:

In [36]:
assert 'h' == 'h'
print('mhm')

mhm